.container {
  top: 10rem;
  /* left: auto;  */
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
nav{
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.maingrid
{
  display: grid;
  /* grid-template-columns: repeat(); */
  grid-template-areas: '.sec1 .sec2 canvas';
}
@font-face {
  font-family: ghost;
  src: url(Ghost-Regular.ttf);
}
.font
{
  font-family: ghost;
  font-size: 70px;
}

.griditems{
}
img{
  z-index: -10;
  height: 5rem;
}
