<div class="greet font"><h4>Hi, I'm</h4></div>
<div class="name font"><h1>SHRESHTTH KUMAR AGARWAAL</h1></div>


<div class="btns">

  <button class="btn" type="button">
    <strong (click)="abtclick()">About me</strong>
    <div id="container-stars">
      <div id="stars"></div>
    </div>

    <div id="glow">
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </button>
  <button class="btn" type="button">
    <strong (click)="projclick()">My Projects</strong>
    <div id="container-stars" >
      <div id="stars"></div>
    </div>

    <div id="glow">
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </button>

  <button class="btn" type="button">
    <strong (click)="contactclick()">Contact</strong>
    <div id="container-stars">
      <div id="stars"></div>
    </div>

    <div id="glow">
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </button>

</div>

