
<div class="main">
  <nav>
    <div class="logo" (click)="homeclick()">
    <!-- <img src="../assets/s3d_logo_favicon.ico" alt="logo"> -->
    <img src="../assets/s3d_logo.png" alt="logo">
    </div>
    <div class="font">
          Contact Me

        </div>
        <div></div>
      </nav>

      
  <div class="linkcont">
    <ul>
      <li>
        <a href="https://github.com/Blackbird-3" target="_blank"><i class="fa fa-brands fa-github card" style="color: #ffffff;"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/shreshtth-kumar-agarwaal" target="_blank"><i class="fa fa-brands fa-linkedin card" style="color: #ffffff;"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/shreshthagarwal.3/" target="_blank"><i class="fa fa-brands fa-instagram card" style="color: #ffffff;"></i></a>
      </li>
    <li>
      <a href="https://twitter.com/_Shreshtth_" target="_blank"><i class="fa fa-brands fa-twitter card" style="color: #ffffff;"></i></a>
    </li>
    <li>
      <a href="mailto:agarwalshreshth3@gmail.com" target="_blank"><i class="fa fa-regular fa-envelope card" style="color: #ffffff;"></i></a>
    </li>
  </ul>
</div>
<!-- <div class="cursor" #cursor></div> -->

</div>
